/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:300 12pt 'Open Sans', sans-serif; background:#fff; color:#1a1a1a; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font: 12pt 'Open Sans', sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:300 12pt 'Open Sans', sans-serif; color:#1a1a1a; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container {
	width: 960px;
	margin: 0 auto;
}
.wrapper {
	min-height: 100%;
}
.wrapper:after {
	content: '';
	display: block;
	width: 100%;
	height: 303px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    height: 533px;
    margin-bottom: 15px;
    color: #fff;
    background: url("../images/header/bg_header.png") no-repeat top center;
}
    .header a,
    .footer a {
        color: #f1f1f1;
        text-decoration: none;
    }
    .header .container {
        overflow: hidden;
        padding-top: 20px;
    }
        .header .overflow {
            margin-bottom: 25px;
        }
            .logo,
            a.logo {
                float: left;
                margin-top: 5px;
            }
            .header .right {
                float: right;
                text-align: right;
            }
                .header .right .text {
                    display: block;
                    font-size: 17px;
                    font-weight: 400;
                }
                .header .tell {
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 17px;
                    font-weight: 400;
                }
                .nav {
                    overflow: hidden;
                    border-top: 1px solid #32414e;
                    border-bottom: 2px solid #1d242a;
                }
                    .nav li {
                        float: left;
                        height: 49px;
                        border-right: 1px solid #161f26;
                        background: url("../images/header/bg_nav.jpg") repeat-x;
                    }
                    .nav .active,
                    .nav li:hover {
                        background: url("../images/header/bg_nav_active.jpg") repeat-x;
                    }
                    .nav li:first-child {
                        border-left: 1px solid #161f26;
                    }
                        .nav a {
                            padding: 0 20px;
                            line-height: 49px;
                        }
                        .nav .active a {
                            font-weight: bold;
                        }
        .header .bottom {
            width: 470px;
            font-weight: 300;
        }
            .header h1 {
                font-size: 22pt;
                font-weight: 300;
            }
            .sub-header {
                display: block;
                margin-bottom: 15px;
                font-size: 22pt;
                color: #a7c9f2;
            }
            .header .desc {
                display: block;
                font-size: 14pt;
                line-height: 1.1;
            }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.list-advantages {
    overflow: hidden;
    margin-bottom: 75px;
    color: #f1f1f1;
}
    .list-advantages li {
        float: left;
        width: 310px;
        height: 147px;
        margin-left: 10px;
        background: url("../images/content/bg_block.png") no-repeat;
    }
    .list-advantages li:first-child {
        margin-left: 0;
    }
    .list-advantages .second {
        background-position: -320px 0;
    }
    .list-advantages .third {
        background-position: -640px 0;
    }
        .list-advantages .name-box {
            display: block;
            height: 55px;
            margin: 25px 0 0 80px;
            line-height: 1.2;
        }
            .list-advantages .name-box span {
                display: block;
                font-weight: bold;
            }
        .list-advantages .desc {
            display: block;
            margin: 0 30px;
            font-size: 12px;
            color: #a7c9f2;
        }

.box-calc {
    float: left;
    min-height: 105px;
    margin-right: 45px;
    background: url("../images/content/calc.png") no-repeat left top;
}
    .box-calc .text {
        display: block;
        margin: -8px 0 0 115px;
        font-size: 18pt;
        font-weight: bold;
        color: #1a2025;
    }
        .box-calc .text span {
            display: block;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
    .box-calc button,
    .send-form-calc {
        display: block;
        width: 150px;
        height: 37px;
        padding: 0;
        margin-left: 115px;
        line-height: 37px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        background: #a7c9f2;
        text-align: center;
        border: none;
        transition: 0.3s;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .box-calc button:hover,
    .send-form-calc:hover {
        background: #95b8e1;
    }
.box-text {
    overflow: hidden;
    margin-bottom: 30px;
}
    .box-text p,
    .box-text b {
        display: block;
        margin-bottom: 10px;
        line-height: 1.2;
    }
.services {
    height: 249px;
    padding-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    background: url("../images/content/bg_service.jpg") no-repeat center top;
    text-align: center;
}
    .services .container {
        position: relative;
        height: 100%;
    }
        .services h2 {
            margin-bottom: 50px;
            font-size: 18pt;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .list-services {
            overflow: hidden;
        }
            .list-services li {
                display: inline-block;
                width: 295px;
                margin: 0 15px;
                font-size: 14pt;
                font-weight: bold;
                vertical-align: top;
                color: #f1f1f1;
                line-height: 1.3;
            }
            .list-services li:first-child {
                margin-left: 0;
            }
            .list-services li:last-child {
                margin-right: 0;
            }
        .services blockquote {
            position: absolute;
            bottom: 10px;
            display: block;
            width: 100%;
            font: italic 14pt Arial, serif;
            color: #f1f1f1;
        }
.calc-price-car {
    margin-bottom: 80px;
}
    .calc-price-car b {
        display: block;
        margin-bottom: 20px;
        font-size: 16pt;
    }
    .calc-price-car p {
        margin-bottom: 20px;
        font-size: 14pt;
    }
        .form-calc .text {
            display: block;
            width: 355px;
            padding: 5px 5px;
            margin-bottom: 10px;
            border: 1px solid #cdcdcd;
            font-size: 12px;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .form-calc .send-form-calc {
            margin: 20px 0 0 0;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
	margin-top: -303px;
	height: 255px;
	padding-top: 48px;
	background: url("../images/footer/bg_footer.jpg") no-repeat top center;
	color: #fff;
}
	.footer .left {
		float: left;
        color: #f1f1f1;
	}
        .footer .wrap {
            display: block;
            margin-bottom: 20px;
        }
            .footer .wrap strong,
            .footer .wrap a {
                display: block;
                font-size: 14pt;
                font-weight: bold;
            }
        .footer .text {
            font-weight: 300;
        }
	.footer .right {
		float: right;
        font-size: 18pt;
        font-weight: bold;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/